<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Web App Storage Managment</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<role-name>admin_local</role-name>
	</security-role>
	<security-role>
		<role-name>freeview</role-name>
	</security-role>
	<security-role>
		<role-name>campaign</role-name>
	</security-role>
	<security-role>
		<role-name>freeview_report</role-name>
	</security-role>
	<security-role>
		<role-name>campaign_report</role-name>
	</security-role>
	<security-role>
		<role-name>store_management</role-name>
	</security-role>
	<security-role>
		<role-name>operator_management</role-name>
	</security-role>
	<security-role>
		<role-name>profile_management</role-name>
	</security-role>
	<security-role>
		<role-name>user_administration</role-name>
	</security-role>
	<security-role>
		<role-name>security_politics</role-name>
	</security-role>
	<security-role>
		<role-name>global_parameters</role-name>
	</security-role>
	<security-role>
		<role-name>themes_administration</role-name>
	</security-role>

	<security-constraint>
		<display-name>Web App Storage Managment</display-name>
		<web-resource-collection>
			<web-resource-name>Web App Storage Managment</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>admin_local</role-name>
			<role-name>freeview</role-name>
			<role-name>campaign</role-name>
			<role-name>freeview_report</role-name>
			<role-name>campaign_report</role-name>
			<role-name>store_management</role-name>
			<role-name>operator_management</role-name>
			<role-name>profile_management</role-name>
			<role-name>user_administration</role-name>
			<role-name>security_politics</role-name>
			<role-name>global_parameters</role-name>
			<role-name>themes_administration</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login.html</form-error-page>
		</form-login-config>
	</login-config>


	<!-- Missing login -->
	<!--<error-page>-->
		<!--<error-code>401</error-code>-->
		<!--<location>/general-error.html</location>-->
	<!--</error-page>-->

	<!-- Forbidden directory listing -->
	<error-page>
		<error-code>403</error-code>
		<location>/login.html</location>
	</error-page>
	<!-- Missing resource -->
	<!--<error-page>-->
		<!--<error-code>404</error-code>-->
		<!--<location>/Error404.html</location>-->
	<!--</error-page>-->

	<!-- Uncaught exception -->
	<!--<error-page>-->
		<!--<error-code>500</error-code>-->
		<!--<location>/general-error.html</location>-->
	<!--</error-page>-->

	<!-- Unsupported servlet method -->
	<!--<error-page>-->
		<!--<error-code>503</error-code>-->
		<!--<location>/general-error.html</location>-->
	<!--</error-page>-->


</web-app>
